$primaryColor: #006554;
$secondaryColor: #ffff;

.modal-header {
	background-color: $primaryColor;
	h2 {
		color: $secondaryColor;
	}
}

//Progress bar color
.uk-progress.progress-green::-webkit-progress-value {
	background-color: $primaryColor;
}
.uk-progress.progress-green::-moz-progress-bar {
	background-color: $primaryColor;
}
.uk-progress.progress-green::-ms-fill {
	background-color: $primaryColor;
}
#modal-button {
	margin: 20% auto;
	width: 150px;
	display: block;
}
.modal-buttons {
	:first-child {
		background-color: transparent;
	}
	:last-child {
		background-color: $primaryColor;
		color: $secondaryColor;
		border-radius: 15px;
	}
}
